#form {
  width: 500px;
}

.fs-item {
  margin: 5px 0px;
}

.fs-array {
  box-sizing: border-box;
}

.fs-array-add {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(232, 232, 232);
  border-bottom: 1px solid rgb(205, 205, 205);
}


.fs-array-delete:after {
  content: "x";
  display: block;
  font-family: sans-serif;
  border-radius: 50%;
  background-color: red;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  color: white;
}

.fs-array-delete {
  position: absolute;
  right: 5px;
  cursor: pointer;
}

.fs-children {
  list-style-type: none;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.fs-child {
  position: relative;
  margin: 5px 0px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
}

.fs-child-contents {
  margin-right: 20px;
}

.fs-textarea {
  width: 100%;
}